[submodule "3dparty/stb"]
	path = 3dparty/stb
	url = https://github.com/Maksasj/stb
[submodule "chtml"]
	path = chtml
	url = https://github.com/Maksasj/chtml
[submodule "3dparty/caifu"]
	path = 3dparty/caifu
	url = https://github.com/Maksasj/caifu
